h1 {
    font-family: 'Raleway', sans-serif;
}
h2 {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}
h3 {
    color: rgba(0, 0, 139, 0.5);
}
h4 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}

#content {
    background-color: white;
    
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 8px;
}

body {
    background-color: #DCF5F5;
    background-image: url(cross.png);
    background-repeat: repeat;
    font-family: 'Noto Serif', serif;
}
p {
    font-family: 'Noto Serif', serif;
}
del {
    color: grey;
}
a {
    color: darkgreen;
}
mark {
    color: darkblue;
    background-color: pink;
}
hr {
    color: #cfdfe4;
}
li {
    font-family: 'Noto Serif', serif;
}

.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}
.blue {
    color: blue;
}
.fancy {
    font-family: cursive;
}
.red-border {
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
.red-outline {
    outline-style: solid;
    outline-color: red;
    outline-width: 1px;
}
.blue-border {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
.red-border-horizontal-rule {
    border-style: solid;
    border-bottom: none;
    border-color: red;
    border-width: 1px;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.blue-border-horizontal-rule {
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.outer-div-7 {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    background-color: blue;
}
.inner-div-7 {
    margin-left: auto;
	margin-right: auto;

    border-style: solid;
    border-color: red;
    border-width: 1px;
    background-color: yellow;
    text-align: right;
}
.top-inner-div-7 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 12px;
    height: 174px;
    width: 674px;
}
.bottom-outer-div-7 {
    margin-top: 20px;
}
.bottom-inner-div-7 {
    padding: 12px;
    height: 374px;
    width: 374px;
}
.multi-line-quote-8 {
    font-family: 'Raleway', serif;

    color: dimgrey;
    line-height: 15px;
    word-spacing: 0.2em;
    text-align: justify;
}
.social-media-8 {
    color: #BFCFD4;
    text-align: center;
}
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li.nav-bar {
    display: block;
    color: white;
    background-color: darkgrey;
    float: left;
    text-align: center;
    padding: 14px 16px;
}
li.nav-bar:hover {
    display: block;
    background-color: white;
    color: darkgrey;
    text-shadow: 1px 1px lightgrey;
}

pre {
    font-family: monospace;
}
ol ul {
    list-style-type: square;
}
li ol {
    list-style-type: lower-roman;
}